.navBar{
    position: sticky;
    top: 90px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    z-index: 9;
    padding: 25px 0px;
    padding-bottom: 10px;
    background-color: white;
    width: 100%;
    color: black;
}
.navBar::-webkit-scrollbar{
    display: none;
}
.navBarUnit{
    padding: 15px 30px;
    border-radius: 100px;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 100;
    cursor: pointer;
    min-width: max-content;
}
.navBarUnitActive{
    font-weight: 550;
    background-color: #ffba00;
}

@media (max-width:600px) {
    .navBar{
        justify-content: start;
        padding: 20px 5px;
    }
    .navBarUnit{
        padding: 14px 28px;
        font-size: 14px;
    }
}